{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>365 Works</title>
    <style>
        body {
            background-image: url("{% static 'img/background-pages.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    {% include 'pages/navbar.html' %}

    <div class="wrapper">
        <form action="{% url 'register_usuario' %}" method="post"> {% csrf_token %}
            <h1>Login</h1>

            <div class="input-box">
                <input type="text" name="username" required>
                <label for="">Nome</label>
                <i class='bx bxs-id-card'></i>
            </div>

            <div class="input-box">
                <input type="password" name="senha" required>
                <label for="">Senha</label>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="submit" class="btn">Entrar</button>

        </form>
    </div>

    <div class="alert hide">
        <i class='bx bxs-error-alt'></i>
        <span class="msg">Atenção:</span>
        <div class="close-btn">
            <i class='bx bx-x'></i>
        </div>
        <div class="progress"></div>
    </div>

    <script>
        function formatarCPF(campo) {
            var cpf = campo.value.replace(/\D/g, '');
            cpf = cpf.replace(/(\d{3})(?=\d)/g, '$1.');
            campo.value = cpf;
        }

        $('button').click(function () {
            $('.alert').removeClass("hide");
            $('.alert').addClass("show");
            $('.alert').addClass("showAlert");
            $('.progress').addClass("active");
            setTimeout(function () {
                $('.alert').addClass("hide");
                $('.alert').removeClass("show");
            }, 5000);
        });
        $('.close-btn').click(function () {
            $('.alert').addClass("hide");
            $('.alert').removeClass("show");
        });

    </script>

    {% include 'pages/footer.html' %}
</body>

</html>