{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>365 Works</title>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <img src="{% static 'img/logo.png' %}" alt="Logo">
      <ul class="nav-links">
        <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
        <div class="vertical-line"></div>
        <li><a href="{% url 'register_usuario' %}" class="{% if request.path == '/register_usuario/' %}active{% endif %}">Preciso de um Serviço</a></li>
        <div class="vertical-line"></div>
        <li><a href="{% url 'register_professional' %}" class="{% if request.path == '/register_professional/' %}active{% endif %}">Sou Profissional</a></li>
        <div class="vertical-line"></div>
        <li><a href="{% url 'home'%}">Quem Somos Nós</a></li>
      </ul>
      <div class="login">
        <i class='bx bx-user-circle'></i>
        <span><a href="{% url 'home'%}">Login</a></span>
      </div>
    </div>
  </nav>
</body>

</html>