{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/servico_usuario.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap">
    <title>365 Works</title>
</head>

<body>

    <nav class="navbar">
        <div class="container">
          <img src="{% static 'img/logo.png'%}" alt="">
          <ul class="nav-links">
            <li><a href="{% url 'home'%}">Home</a></li>
            <div class="vertical-line"></div>
            <li><a href="{% url 'register_usuario'%}">Preciso de um Serviço</a></li>
            <div class="vertical-line"></div>
            <li><a href="{% url 'register_professional'%}">Sou Profissional</a></li>
            <div class="vertical-line"></div> 
            <li><a href="{% url 'home'%}">Quem Somos Nós</a></li> 
          </ul>
        </div>
      </nav>

    <div class="login-container">
        <form class="login-form" method="post" action="{% url 'register_servico' %}">
            {% csrf_token %}
            <h2>Cadastro de Serviço</h2>
            <div class="input-group">
                <label for="servico">Serviço:</label>
                <input type="text" id="servico" name="servico" required>
            </div>
            <div class="input-group">
                <label for="local">Local:</label>
                <input type="text" id="local" name="local" required>
            </div>
            <div class="input-group">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria">
                    <option value="1">Limpeza</option>
                    <option value="2">Reparos</option>
                    <option value="3">Consultoria</option>
                    <option value="4">Outros</option>
                </select>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>

</html>
