{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/servico_usuario.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>365 Works</title>
</head>

<body>
    {% include 'pages/navbar.html' %}

    <div class="wrapper">
        <form action="{% url 'register_usuario' %}" method="post"> {% csrf_token %}
            <h1>Solicitar Serviço</h1>

            <div class="input-box">
                <input type="text" name="servico" required>
                <label for="">Serviço</label>
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="input-box">
                <input type="text" name="local" required>
                <label for="">Local</label>
                <i class="fa-solid fa-location-dot"></i>
            </div>

            <div class="input-box">
                <label for="">Categorias</label>
                <select class="categoria" name="categoria">
                    <option value="1">Limpeza</option>
                    <option value="2">Reparos</option>
                    <option value="3">Consultoria</option>
                    <option value="4">Outros</option>
                </select>
                <i class="fa-solid fa-list"></i>
            </div>

            <button type="submit" class="btn">Solicitar</button>
        </form>

    {% include 'pages/footer.html' %}
</body>

</html>
