{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/usuario.css' %}" />
  <link href="" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>365 Works - Cadastro</title>
  <style>
    body {
      background-image: url("{% static 'img/background-cliente.png' %}");
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  {% include 'pages/navbar.html' %}

  <div class="wrapper">
    <form action="{% url 'register_usuario' %}" method="post"> {% csrf_token %}
      <h1>Cadastro</h1>

        <div class="input-box">
          <label for="">Nome Completo</label>
          <input type="text" name="username" required>
          <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
          <label for="">CPF</label>
          <input type="text" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
          <i class='bx bxs-id-card' ></i>
        </div>

        <div class="input-box">
          <label for="">Telefone</label>
          <input type="text" name="telefone" pattern="\d{8,9}" required>
          <i class='bx bxs-phone' ></i>
        </div>

        <div class="input-box">
          <label for="">Email</label>
          <input type="email" name="email" required>
          <i class='bx bxs-envelope'></i>
        </div>

        <div class="input-box">
          <label for="">Senha</label>
          <input type="password" name="senha" pattern="\d{8,9}" required>
          <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="input-box">
          <label for="">Confirme a Senha</label>
          <input type="password" name="confirmar_senha" pattern="\d{8,9}" required>
        </div>

        <button type="submit" class="btn">Cadastrar</button>

    </form>
  </div>

</body>

</html>