* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

.navbar {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 2%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 25px;
}

.nav-links a:hover{
    color: #ff7113;
}

.nav-links li:hover {
    transform: scale(1.1);
    transition: .7s;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.vertical-line {
    border: 1px solid rgba(153, 153, 153, 0.548);
    height: 2vh; /* Altura da linha */
    align-items: center;
}
