@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: left;
}

.wrapper {
    backdrop-filter: blur(20px);
    margin-top: 4%;
    background-color: rgba(0, 0, 0, .2);
    padding: 40px 60px;
    border-radius: 25px;
    border: 1px solid #fff;
    width: 25%;
    text-align: center;
}

.wrapper h1 {
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 3px solid #fff;;
    font-size: 16px;
    padding: 20px 45px 20px 5px;
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ff7113;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    color: #fff;
    transition: background .5s ease-in-out;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .btn:hover {
    background: #ff6600;
    box-shadow: 0 0 15px 0 #ff6600;
    transform: scale(1.05);
    transition: .5s;
}

small {
    font-size: 11px;
    color: #fff;
}

footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}