* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

:root {
    --background-color: #f4f4f4;
    --second-background-color: #ff7113; 
    --third-background-color: #ebebeb; 
    --text-color: #fff; 
    --second-text-color: #000; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--background-color);
}

html {
    font-size: 62.5%;
}

.main-container {
    height: 100vh;
    padding: 2rem;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.main-container .text h3 {
    margin-bottom: 10rem;
    font-size: 1.7rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: var(--second-background-color);
    padding: 3rem;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s color;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    transition: 1s;
}

.card h3 {
    font-size: 2.1rem;
    position: absolute;
    bottom: 10%;
}

.card i {
    font-size: 6.5rem;
}
