* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: left;
}

.wrapper {
    backdrop-filter: blur(20px);
    margin-top: 4%;
    background-color: rgba(0, 0, 0, .2);
    padding: 40px 60px;
    border-radius: 25px;
    border: 1px solid #fff;
    width: 25%;
    text-align: center;
}

.wrapper h1 {
    font-size: 2em;
    font-weight: 900;
    color: #fff;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 16px;
    padding: 20px 45px 20px 5px;
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.categoria {
    position: absolute;
    top: 25%;
    left: 35%;
    transition: .5s;
}

select{
    border: none;
    width: 150px;
    padding: 3px;
    border-radius: 10px;
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}



.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    position: relative;
    width: 50%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    color: #ff7113;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.wrapper .btn:hover {
    color: #fff;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff7113;
    z-index: -1;
    transition: .5s;
}

.wrapper .btn:hover::before {
    width: 100%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}